In [83]:
import pandas as pd

In [84]:
import smtplib
server = smtplib.SMTP('smtp.gmail.com:587')
server.ehlo()
server.starttls()
server.login('rohandhupar18@gmail.com','alice@2017')
server.sendmail('rohandhupar18@gmail.com','rohandhupar18@gmail.com','hello mail')
server.quit()     
print("Success: Email sent!")

Success: Email sent!

In [85]:
df1=pd.read_csv('inventory.csv')

In [86]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113 entries, 0 to 112
Data columns (total 12 columns):
inventory_id              113 non-null int64
inventory_name            113 non-null object
vendor_preferred          107 non-null object
classification            101 non-null object
vendor_backup             1 non-null object
office_location           15 non-null object
inventory_url             0 non-null float64
vendor_reorder_number     0 non-null float64
log_timestamp             113 non-null object
expected_usage_weekly     0 non-null float64
expected_usage_monthly    0 non-null float64
company_id                113 non-null int64
dtypes: float64(4), int64(2), object(6)
memory usage: 10.7+ KB

In [87]:
newdf=df1[['expected_usage_weekly','expected_usage_monthly','company_id']]

In [88]:
newdf.head()

   expected_usage_weekly  expected_usage_monthly  company_id
0                    NaN                     NaN           1
1                    NaN                     NaN           1
2                    NaN                     NaN           1
3                    NaN                     NaN           1
4                    NaN                     NaN           1

In [89]:
newdf['bool_values']=newdf[['expected_usage_weekly','expected_usage_monthly']].isnull().values.any()

C:\Users\dhupar\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [90]:
newdf.head()

   expected_usage_weekly  expected_usage_monthly  company_id  bool_values
0                    NaN                     NaN           1         True
1                    NaN                     NaN           1         True
2                    NaN                     NaN           1         True
3                    NaN                     NaN           1         True
4                    NaN                     NaN           1         True

In [91]:

listcom=newdf.loc[newdf.bool_values==True,['company_id']]

In [92]:
import numpy as np
email_com_id=listcom.company_id.values
newuser=pd.read_csv('user.csv')
newuser.head()
#company_emails=np.array(newuser.loc[newdf.bool_values==True,['login_email']])
#print(company_emails)

,login_email,login_password,first_name,company_id,log_timestamp,invitation_code_used,role,last_update_by,last_updated_date
0,zapien291@gmail.com,eyJhbGciOiJSUzI1NiIsImtpZCI6IjM3NmVhMWUyZjRjOT...,Maria Zapien,1,2018-03-23 00:00:00.000000,smile123,u,NaN,2018-03-23 20:06:51.125560
1,contact@tinoiq.com,EAAEZB4w2Et6IBAKNbpcBV5YfvkkocfV4Rnf9sfDu4vOsQ...,Alice Wen,1,2018-03-23 00:00:00.000000,SMILE123,u,prashant2100@yahoo.com,2018-04-02 11:55:26.000000
2,smileydoctor@gmail.com,eyJhbGciOiJSUzI1NiIsImtpZCI6ImFjMmI2M2ZhZWZjZj...,Reena Gupta DDS,1,2018-03-06 00:00:00.000000,FSTHAP12,c,prashant2100@yahoo.com,2018-04-02 11:55:32.000000
3,prashant2100@yahoo.com,EAABrM8DNqqMBAB1zZCTBLZC2FkOQJhIMIWlzOWuYcLNb5...,Prashant Gupta,1,2018-02-26 00:00:00.000000,FSTHAP12,a,prashant2100@yahoo.com,2018-04-04 07:39:42.000000
4,contact.smileydoctor@gmail.com,EAAEZB4w2Et6IBAPfLHWGdqZAa7egsadjZBpAyL9T7LfZB...,Claire Scott,1,2018-04-04 00:00:00.000000,smile123,u,NaN,2018-04-04 16:38:21.848519

In [93]:
import smtplib
for x in ['prmail@gmail.com','zapien291@gmail.com','smileydoctor@gmail.com','santoshp002@gmail.com','contact.smileydoctor@gmail.com','contact@tinoiq.com','prashant2100@yahoo.com','nkp002@gmail.com']:
    x=str(x)
    x=x.strip("[]")
    x=x[1:-1]
    server = smtplib.SMTP('smtp.gmail.com:587')
    server.ehlo()
    server.starttls()
    server.login('rohandhupar18@gmail.com','alice@2017')
    server.sendmail(x,x,'hello mail')
server.quit()     
print("Success: Email sent!")

prmail@gmail.com
zapien291@gmail.com
smileydoctor@gmail.com
santoshp002@gmail.com
contact.smileydoctor@gmail.com
contact@tinoiq.com
prashant2100@yahoo.com
nkp002@gmail.com
Success: Email sent!

In [94]:
import sqlalchemy 
engine = sqlalchemy.create_engine('postgresql://tino_analyst:tino_analyst122@174.138.55.209:54432/tino_predictions')

In [95]:
#this query is not giving error , i'm able to take company_id whose values are null 
result = engine.execute('SELECT company_id FROM inventory WHERE (expected_usage_weekly IS NULL  OR expected_usage_monthly IS NULL);')

Exception during reset or similar
Traceback (most recent call last):
  File "C:\Users\dhupar\Anaconda3\lib\site-packages\sqlalchemy\pool.py", line 703, in _finalize_fairy
    fairy._reset(pool)
  File "C:\Users\dhupar\Anaconda3\lib\site-packages\sqlalchemy\pool.py", line 873, in _reset
    pool._dialect.do_rollback(self)
  File "C:\Users\dhupar\Anaconda3\lib\site-packages\sqlalchemy\engine\default.py", line 457, in do_rollback
    dbapi_connection.rollback()
psycopg2.OperationalError: server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.

In [96]:
#this query is giving same error 
newre=engine.execute('SELECT user.login_email FROM inventory  WHERE (expected_usage_weekly IS NULL  OR expected_usage_monthly IS NULL ) AND company_id IN user.company_id  ; ')

ProgrammingError: (psycopg2.ProgrammingError) syntax error at or near "."
LINE 1: SELECT user.login_email FROM inventory  WHERE (expected_usag...
                   ^
 [SQL: 'SELECT user.login_email FROM inventory  WHERE (expected_usage_weekly IS NULL  OR expected_usage_monthly IS NULL ) AND company_id IN user.company_id  ; '] (Background on this error at: http://sqlalche.me/e/f405)

In [ ]:
newre=engine.execute('SELECT * FROM users_table ')